/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Roboto&subset=cyrillic');

html {
    color: #000;
    font: 17px/1.4 'Open Sans Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', Tahoma, sans-serif;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Custom styles
   ========================================================================== */

html, body {
    /*height: 100%;*/
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(24, 100%, 76%);/*  #FFB686 */
    line-height: 1.4;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
ul li {
    list-style: none;
}
ul li:before {
    content: "\2014\a0";
    float: left;
    margin-left: -1.2em;
}
a {
    color: #000;
}
a:hover, a:active {
    text-decoration: none;
}
.font-small {
    font-size: 1rem;
}
.font-large {
    font-size: 1.2rem;
}
.font-xlarge {
    font-size: 1.4rem;
}

.layout {
    padding: 0 5%;
    max-width: 400px;
    margin: 0 auto;
}
.page-inner .layout {
    max-width: 800px;
}

.ruler {
    background-image: -webkit-gradient(linear, left top, right top, from(#DEE5A5), color-stop(#FED3A2), color-stop(#FE583F), to(#E70003));
    background-image: -webkit-linear-gradient(left, #DEE5A5, #FED3A2, #FE583F, #E70003);
    background-image: -o-linear-gradient(left, #DEE5A5, #FED3A2, #FE583F, #E70003);
    background-image: linear-gradient(90deg, #DEE5A5, #FED3A2, #FE583F, #E70003);
    height: 30px;
    opacity: 0.7;
}
.ruler::before {
    content: '';
    display: block;
    height: 30px;
    background: url(../img/meter.png) repeat-x 0 0;
}

/* Header */
.header {
    margin-bottom: 4em;
}
@media screen and (min-width:555px){
    .header {
        margin-bottom: 5em;
    }
}
.logo {
    display: block;
    font-size: 4.375rem;
    font-family: 'Amatic SC', 'Trebuchet MS', 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
}
.tagline {
    text-align: center;
}
.icon-melon {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: relative;
    background: #ff6464;
    border: 3px solid #dde58b;
    border-radius: 45px;
    margin-right: 10px;
}
.icon-melon::before {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-radius: 51px;
    border: 4px solid #9da120;
    z-index: -1;
}

/* Content */
.calculations {
    font-size: 1.4rem;
}

/* Form */
.form {
    counter-reset: steps-counter;
}
.form fieldset {
    position: relative;
    border: 2px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.2);
    padding: 2em 0.75em 1em;
    border-radius: 8px;
    margin-top: 30px;
}
.form fieldset::before {
    counter-increment: steps-counter;
    content: "0" counter(steps-counter);
    position: absolute;
    top: -55px;
    left: 0;
    color:rgba(255,255,255,0.2);
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 90px; 
    pointer-events: none;
}
.form legend {
    font-weight: bold;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.flex-center{
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}
.form-label-wrap {
    width: calc(100% - 34px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.form-label {
    display: block;
    margin-bottom: .6em;
    font-weight: bold;
}
.form-input {
    width: calc(100% - 34px);
    min-width: 60px;
    border: 0;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 2.375em;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.result-mass {
    border: 2px dashed rgba(255,255,255,0.4);
    font-size: 2.375em;
    min-width: 120px;
    min-height: 58px;
    display: inline-block;
    padding: 0 10px;
}
.icon-circ {
    display: inline-block;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    background: #9da120;
    border-radius: 40px;
    position: relative;
}
.icon-circ::before {
    content: '';
    display: block;
    position: absolute;
}
.icon-circ_horizontal::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    height: 10px;
    border-bottom: 2px dashed black;
    border-top: 2px dashed grey;
    border-top-left-radius: 40px 15px;
    border-top-right-radius: 40px 15px;
    border-bottom-left-radius: 40px 15px;
    border-bottom-right-radius: 40px 15px;
}
.icon-circ_vertical::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 40px;
    width: 10px;
    border-right: 2px dashed black;
    border-left: 2px dashed grey;
    border-top-left-radius: 15px 40px;
    border-top-right-radius: 15px 40px;
    border-bottom-left-radius: 15px 40px;
    border-bottom-right-radius: 15px 40px;
}
.ripeness-percent {
    font-size: 2.3rem;
    font-weight: bold;
}
.visual {
    margin: 2em 0 0;
    -webkit-transform: scale(.6);
        -ms-transform: scale(.6);
            transform: scale(.6);
    opacity: 0;
    will-change: transform, opacity;
}
.visual[data-animate=zoom-in] {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
         -o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
            transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.visual__marks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: bold;
}
.visual__gradient {
    width: 100%;
    height: 30px;
    background: -webkit-linear-gradient(left, #DEE5A5, #FED3A2 32%, #FE583F 53%, #E70003 75%, #420200);
    background: -o-linear-gradient(left, #DEE5A5, #FED3A2 32%, #FE583F 53%, #E70003 75%, #420200);
    background: -webkit-gradient(linear, left top, right top, from(#DEE5A5), color-stop(32%, #FED3A2), color-stop(53%, #FE583F), color-stop(75%, #E70003), to(#420200));
    background: linear-gradient(to right, #DEE5A5, #FED3A2 32%, #FE583F 53%, #E70003 75%, #420200);
}
.visual__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: transparent;
    overflow: visible;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
input[type=range]::-ms-track {
    appearance: none;
    overflow: visible;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    outline: none;
    background: transparent;
    border: 0;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper, input[type=range]:focus::-ms-fill-lower, input[type=range]:focus::-ms-fill-upper {
    background: #FFB686;
}
.visual__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 80% 5px 55% 50% / 55% 5px 80% 50%;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.visual__slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 80% 5px 55% 50% / 55% 5px 80% 50%;
    transform: rotateZ(-45deg);
}
.visual__slider::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 80% 5px 55% 50% / 55% 5px 80% 50%;
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
}

/* Calculations page */

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
table {
    border-collapse: collapse;
}
.table td {
    border-bottom: 1px solid black;
    padding: 10px 5px;
}
.table th {
    border-bottom: 2px solid black;
    padding: 10px 5px;
}
.table td:last-child {
    text-align: left;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    .form-input {
        border: 1px solid #000;
    }
}